.v-map-theme--light {
  /* map */
  --v-map-font-size: 0.875rem;
  --v-map-line-height: 1.25rem;
  --v-map-background: #dddddd;
  --v-map-foreground: #333333;

  /* link */
  --v-map-link-foreground: #0078a8;
  --v-map-link-highlight: rgba(51, 181, 229, 0.4);

  /* attribution */
  --v-map-attribution-foreground: #333333;
  --v-map-attribution-background: rgba(255, 255, 255, 0.8);
  --v-map-attribution-font-size: 0.75rem;

  /* control */
  --v-map-control-width: 2.5rem;
  --v-map-control-height: 2.5rem;
  --v-map-control-line-height: 2.5rem;
  --v-map-control-font-size: 1.125rem;
  --v-map-control-foreground: #333333;
  --v-map-control-hover-foreground: #333333;
  --v-map-control-background: #ffffff;
  --v-map-control-hover-background: #f4f4f4;
  --v-map-control-disabled-foreground: #bbbbbb;
  --v-map-control-disabled-background: #f4f4f4;
  --v-map-control-shadow: rgba(0, 0, 0, 0.2);
  --v-map-control-corner-margin: 1rem;
  --v-map-control-round: 0.75rem;
  --v-map-control-one-child-round: 50%;

  /* pin icon */
  --v-map-pin-icon-background: inherit;
  --v-map-pin-icon-foreground: #3863c2;
  --v-map-pin-icon-placeholder: #ffffff;
  --v-map-pin-icon-font-size: 0.75rem;
  --v-map-pin-icon-svg-width: 1em;
  --v-map-pin-icon-svg-height: 1em;
  --v-map-pin-icon-svg-font-size: 0.875rem;
}
